<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eventmanagementsystem">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EventManagementSystem">
        <activity
            android:name=".ParticipantListActivity"
            android:label="@string/title_activity_participant_list"
            android:theme="@style/Theme.EventManagementSystem.NoActionBar"></activity>
        <activity android:name=".ParticipantDetailsActivity" />
        <activity
            android:name=".MainRegistrationActivity"
            android:label="@string/title_activity_main_registration"
            android:theme="@style/Theme.EventManagementSystem.NoActionBar" />
        <activity android:name=".RegistrationDetailsActivity" />
        <activity
            android:name=".RegistrationListActivity"
            android:label="@string/title_activity_registration_list"
            android:theme="@style/Theme.EventManagementSystem.NoActionBar" />
        <activity android:name=".EventDetailsActivity" />
        <activity android:name=".ListEventActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.EventManagementSystem.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>